::ng-deep body {
  background-color: white !important;
}

form {
  border-radius: 0.25rem;
}
.reg-container {
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.email-found {
  background-color: #fef1f1;
  border: 1px solid red;
  height: 4em;
  padding: 0 !important;
}

.reg-btn {
  background-color: #512bd4;
  border-color: rgb(81 43 212);
  color: white;
}

.reg-btn:hover {
  background-color: #4122aa;
}

.login-link {
  color: #512bd4;
}

.login-link:hover {
  color: #4122aa;
}

input:focus:not(.invalid) {
  border-color: #512bd4;
  box-shadow: 0 0 5px 0 #512bd4;
}

.invalid {
  border-color: red;
  box-shadow: none;
}

.err-msg {
  color: red !important;
}


