<ng-container *ngIf="payment !== null else nullpayment">
    
    <ng-container *ngIf="payment.status === 'success' else fail">
        <div class="container" style="min-height: 90vh;">
            <div class="col-2 mx-auto my-5"><img class="w-100" src="../../../assets/images/sucsses.png" alt="payment sucsses"></div>
            <h1 class="text-center">Your payment is successful</h1>
            <p class="fs-5 text-center">Thank you for your payment, we will in contact with more details shortly</p>
            <button routerLink="" class="btn btn-success d-block px-5 mx-auto">Go To Home</button>
        </div>
    </ng-container>
    
    <ng-template #fail>
        <div class="container" style="min-height: 90vh;">
            <div class="col-2 mx-auto my-5"><img class="w-100" src="../../../assets/images/fail.png" alt="payment fail"></div>
            <h1 class="text-center">Your payment is failed</h1>
            <button routerLink="" class="btn btn-danger d-block px-5 mx-auto">Go To Home</button>
        </div>
    </ng-template>
    
</ng-container>


<ng-template #nullpayment>
    <h1>No Payment found</h1>
</ng-template>