<!-- Sidebar Components -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h2>Admin Dashboard</h2>
    </div>
    
    <ul class="list-unstyled components">    
        <li>
            <a  
            routerLink='/admin/products' 
            routerLinkActive="active"
            data-toggle="collapse" aria-expanded="false" 
            >Products</a>      
        </li>

        <li>
            <a 
            routerLink='/admin/orders' 
            routerLinkActive="active"
            data-toggle="collapse" aria-expanded="false" 
            >Orders</a>      
        </li>
        <!-- <li>
            <a  
            routerLink='/admin/products' 
            routerLinkActive="active"
            data-toggle="collapse" aria-expanded="false" 
            >Catigories</a>      
        </li> -->
    </ul>
</nav>
