
<div class="container">
  <div class="row bg-white my-5">

    <div class="col-md-6 aproductimage p-4">
      <img src={{product?.productImage}}>
    </div>

    <div class="col-md-6 p-4">

      <div>{{product?.CategoryID?.CategoryName}}</div>
      <div class="fw-bold fs-2 py-2">{{product?.ProductName}}</div>
      <div class="pb-2">{{product?.productDescription}}</div>


      <ng-container *ngIf="product?.Discount > 0 else HasNoDiscount">
        <div class="text-truncate mx-0 my-0 p-0">
          <span class="fw-bold fs-4">{{ (product?.productPrice - (product?.productPrice * (product?.Discount / 100))) |
            number }}</span>
          <span class="text currncy-disc"> EGP </span>
        </div>

        <div class="text-muted p-0 m-0 fs-6">
          <span class="text-decoration-line-through text-muted p-1">
            {{product?.productPrice | number}}
          </span>
          <span class="fw-bold" style="font-size: 0.8rem; color: green;">{{ product.Discount }}% OFF</span>
        </div>
      </ng-container>

      <ng-template #HasNoDiscount>
        <div><span class="fw-bold fs-3">{{product?.productPrice| number}}</span><span class="fs-6 mx-1">EGP</span></div>
      </ng-template>


      <div class="rating my-1 mx-2 RateProduct d-flex justify-content-start py-1 px-4">
        <span>{{AvgRate || 0 | number}}</span>
        <span class="d-flex flex-column justify-content-center align-items-center ps-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
        </span>
      </div>


      <ng-container *ngIf="isProductinCart else ProductNotinCart">
        <select class="py-2 px-4 mt-3" (change)="UpdateQuantity($event,product._id)" [(ngModel)]="inQuantity">
          <ng-container *ngFor="let item of createRange(product?.productQuantity)">
            <option>{{item}}</option>
          </ng-container>
        </select>

        <button (click)="RemoveFromCart(product)" class="btn btn-danger w-75 ms-2">Remove</button>
      </ng-container>

      <ng-template #ProductNotinCart>
        <select class="py-2 px-4 mt-3" [(ngModel)]="outQuantity">
          <ng-container *ngFor="let item of createRange(product?.productQuantity)">
            <option>{{item}}</option>
          </ng-container>
        </select>
        <button (click)="AddToCart(product)"
          class="btn btn-success w-75 ms-sm-2 ms-md-0 mt-md-2 mt-lg-0 ms-lg-2 ">Add</button>
      </ng-template>

    </div>
  </div>

  <div class="row">
    <div class=" container bg-white mb-5">
      <div class="row">
        <div class="col-md-6 p-5">

          <div *ngFor="let item of reviews" class="bg-rating p-4 my-3 ">
            <div class="d-flex ">

              <div class="UserRateProduct me-2 border-circle">
                <img
                  src="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/default._CR0,0,1024,1024_SX120_.png">
              </div>
              <div>
                <div class=" fs-6">{{item?.User?.name}}</div>
                <div class="fw-light" style="font-size: 0.9rem;">{{item?.User?.email}}</div>
              </div>

            </div>


            <div>
              <ng-container *ngFor="let star of createRange(5)">
                <span style="color: #ffa41c; padding: 0 0.05rem;" *ngIf="star <= item?.Rating else EmptyRateStar">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                  </svg>
                </span>

              </ng-container>
              <ng-template #EmptyRateStar>
                <span>
                  <svg style="color: #ffa41c; padding: 0 0.05rem;" xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                  </svg>
                </span>
              </ng-template>


            </div>

            <div>{{item?.Title}}</div>
          </div>


        </div>
        <div class="col-md-6 p-5">
          <div class="card">
            <div class="card-header d-flex justify-content-between">
              <span>Rate this product</span>
              <div class="RateWindowHeader">
                <div></div>
                <div></div>
                <div></div>
              </div>

            </div>
            <div class="card-body">

              <div class="d-flex justify-content-center mb-4 mt-2">
                <div class="star-rating">
                  <span *ngFor="let star of stars; let i = index" class="star" [class.full]="i <= selectedStarIndex"
                    (mouseenter)="highlightStars(i)" (click)="selectStar(i)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                      class="bi bi-star-fill mx-1" viewBox="0 0 16 16">
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>
                  </span>
                </div>
              </div>

              <h5 class="card-title">How could you describe this product?</h5>
              <textarea [(ngModel)]="ReviewTitle" class="w-100"></textarea>
              <p class="card-text">Share your thoughts with other customers</p>
              <a (click)="SubmitReview()" class="btn btn-custom">Submit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>