.defualtloding{
  padding: 0 !important;
  margin: 0 !important;
  width: 100vw;
  height: 100%;
  position: fixed;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  top: 0;
  left: 0;
  z-index: -5;
  transition: 0.3s ease-in-out;
  opacity: 0;
  overflow: hidden;
}
.mylodingpage{
  z-index: 5;
  opacity: 1;
  transition: 0s ease-in-out;
  overflow: hidden;
}

