<div style="height: 3rem"></div>
<nav
  class="navbar navbar-expand-lg navbar-light bg-grid text-white px-lg-5 fixed-top"
>
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="">Shop</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-end"
        [ngClass]="isSmallScreen ? 'my-nav-items' : 'itemsNot'"
      >
        <li class="nav-item mx-1 my-0 roundedcustom-circle">
          <a class="nav-link text-dark" aria-current="page" routerLink=""
            >Home</a
          >
        </li>

        <ng-container>
          <li class="nav-item roundedcustom-circle cartnavitem">
            <a routerLink="/cart">
              <span class="d-inline-block px-1 text-dark"><svg style="color: rgb(82, 60, 104);"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
              </svg></span>
              <span class="cartcountnum d-inline-block">{{ Count }}</span>
            </a>
          </li>
        </ng-container>


        <li class="nav-item roundedcustom-circle cartnavitem mx-1" *ngIf="isuserLogged()">
          <ng-container>
            <a routerLink="/orders"
              ><span class="d-inline-block px-1 text-dark">Orders</span>
            </a>
          </ng-container>
        </li>

        <li
          class="nav-item roundedcustom-circle cartnavitem mx-1"
          *ngIf="isuserLogged()"
        >
          <ng-container>
            <li class="nav-item roundedcustom-circle cartnavitem">
              <a routerLink="profile">
                <span class="d-inline-block px-1 text-dark" routerLink="profile"
                  >Profile</span
                >
              </a>
            </li>
          </ng-container>
        </li>

        <li class="nav-item roundedcustom-circle cartnavitem mx-1">
          <ng-container *ngIf="isuserLogged(); else Unauthlogbtn">
            <a style="cursor: pointer" (click)="LogoutFun()"
              ><span class="d-inline-block px-1 text-dark">Logout</span>
            </a>
          </ng-container>

          <ng-template #Unauthlogbtn>
            <a style="cursor: pointer" routerLink="login">
              <span class="d-inline-block px-1 text-dark">Login</span></a
            >
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</nav>
